/* For devices smaller than 400px: */
#bec-logo-wrapper {
    height: 35px;
    margin: 15px 5px 5px 5px;
    width:30%;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/auth/resources/4.8.3.final/login/beckman/img/bec-logo-small.jpg'); 
}


#lsweb-logo-wrapper {
    height: 35px;
    margin: 15px 5px 5px 5px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/auth/resources/4.8.3.final/login/beckman/img/lsweb.svg'); 
}


h1.ui.header, h1 {
    font-size: 2.5em;
}

.forgot-box {

    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.separator {
    border-left: 1px solid #8f8f8f;
    height: 33px;
    margin: 10px;
  }

/* For devices 400px and larger: */
@media only screen and (min-device-width: 400px) {
    #bec-logo-wrapper { 
        height: 45px;
        padding: 5px 5px 5px 5px;
        width:80%;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('/auth/resources/4.8.3.final/login/beckman/img/bec-logo.jpg'); 
    }

    .login-page {
        padding: 60px 0;
    }

    h1.ui.header, h1 {
        font-size: 3em;
    }
}

.login-header-content {
    text-align: center;
}

.login-subheader-content {
    text-align: center;
}

.header-content {
    border: none;
    margin: 30px;
    font-size: 2.5em;
    font-weight: 300;
}

.subheader-content {
    border: none;
    margin: 30px;
    font-size: 1.2em;
    font-weight: 300;
}

.login-form {
    margin: 30px;
}


.content-container {
    font-family: 'Montserrat','Open Sans','Helvetica Neue',Arial,Helvetica,sans-serif;
    display: flex;
    justify-content: center;
}

.input-group {
    position: relative;
    margin-bottom: 30px;
    margin-right: 13px;
}

.input-group input {
    font-size: 18px;
    padding: 14px 0px 4px 10px;
    display: block;
    line-height: 1.4;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #797979;
    box-shadow: none;
}

.input-group label {
    font-family: ProximaNovaLight,Open Sans,Helvetica Neue,Arial,Helvetica,sans-serif;
    font-size: 16px;
    color: #000;
    line-height: 24px;
    position: absolute;
    pointer-events: none;
    left: 15px;
    top: 10px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}


.floating-label {
    -webkit-appearance: none!important;
}

.input-group.field.error label {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
    font-family: ProximaNovaSemiBold,Open Sans,Helvetica Neue,Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: #ea1c2c;
    background: #fff;
    padding: 0 10px;
    letter-spacing: .5px;
    line-height: 12px;
}


label.field-active {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
    font-size: .9em;
    color: #006fa6;
    font-weight: 1000;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff;
    z-index: 1;
}

.ui.button {

    font-family: Montserrat;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    font-size: 1.125rem;
    position: relative;
    transition: all .2s ease;

    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background: #e0e1e2 none;
    margin: 0 .25em 0 0;
    padding: .78571429em 1.5em .78571429em;
    text-transform: none;

    text-align: center;
    text-decoration: none;
    border-radius: .28571429rem;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

}

.ui.button.primary {
    background-color: #ea1c2c;
    color: #fff;
}

.ui.button:hover {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.ui.message {
    font-size: 0.9em;
    position: relative;
    min-height: 1em;
    margin: 1em 0;
    background: #f8f8f9;
    padding: 1em 1.5em;
    line-height: 1.4285em;
    color: rgba(0,0,0,.87);
    -webkit-transition: opacity .1s ease,color .1s ease,background .1s ease,box-shadow .1s ease;
    transition: opacity .1s ease,color .1s ease,background .1s ease,box-shadow .1s ease;
    border-radius: .28571429rem;
    box-shadow: 0 0 0 1px rgba(34,36,38,.22) inset, 0 0 0 0 transparent;
}

.ui.error.message {
    background-color: #fff6f6;
    color: #d9534f;

}

.ui.success.message {
    background-color: #fcfff5;
    color: #2c662d;
    box-shadow: 0 0 0 1px #a3c293 inset, 0 0 0 0 transparent;
    
}

.ui.warning.message {
    background-color: #fff3e0;
    color: #ff9800;
    
}


a {
    color: #00a9e0;
    text-decoration: none;
}

p {
    font-family: 'ProximaNovaLight';
    font-size: 0.9em;
    line-height: 1.5em;
}


.center-box {
   margin-left: auto;
   margin-right: auto;
   width: 350px;
   border: 1px solid;
   border-color: #91999E;
   padding-top: 10px;
   padding-left: 60px;
   padding-right: 60px;
   padding-bottom: 80px;

}

.twofa-instructions {
    border: none;
    font-size: 1.0em;
    font-weight: 350;
    color: black;
    padding-bottom: 10px;
}

.password-requirements {
    margin-top: 0;
    height: 0;
    background-color: #f5f5f5;
    position: relative;
    top: 30px;
    border-radius: 4px;
    padding: 10px;
    opacity: 0!important;
    -webkit-transition: opacity 0s ease 0s!important;
    -moz-transition: opacity 0s ease 0s!important;
    -o-transition: opacity 0s ease 0s!important;
    transition: opacity 0s ease 0s!important;
    display: none;
    width: 98%;
}

.password-requirements.show {
    margin-top: -15px;
    opacity: 1!important;
    height: auto;
    display: block;
}

.password-requirements:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f5f5f5;
    position: absolute;
    top: -10px;
    left: 25px;
}

.password-requirements .strength-meter {
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    position: relative;
}

.password-requirements .strength-meter .password-requiremnts-label {
    color: #ea1c2c;
    font-size: 12px;
    width: 75px;
    float: left;
}

.password-requirements .strength-meter .meter-bar {
    position: relative;
    flex: 1;
}

.password-requirements .strength-meter .meter-bar ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 3px;
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
}

.password-requirements .strength-meter .meter-bar ul li {
    flex: 1;
    background: #e2e2e8;
    height: 5px;
    margin-right: 5px;
    position: relative;
}



.password-requirements .strength-meter .meter-bar ul li:nth-child(1).active {
    background: #dceec7;
}

.password-requirements .strength-meter .meter-bar ul li:nth-child(2).active {
    background: #88c541;
}

.password-requirements .strength-meter .meter-bar ul li:nth-child(3).active {
    background: #297e2e;
}

.password-requirements .strength-meter .meter-bar .bar-description {
    content: 'Fair';
    position: absolute;
    top: -20px;
    width: 100%;
    color: #ea1c2c;
    text-align: center;
    font-size: 12px;
    opacity: 0;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}



.password-requirements .strength-meter .meter-bar #string-marker {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #ea1c2c;
    position: absolute;
    bottom: -13px;
    left: -5px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}


.password-requirements .requirements-list {
    list-style: none;
    margin: 0;
    background-color: #fff;
    margin-top: 15px;
    border-radius: 6px;
    padding: 10px 15px;
}




.password-requirements .requirements-list li {
    font-size: 0.8em;
    line-height: 1.75em;
    position: relative;
    width: 100%;
    color: #656565;
}

.password-requirements .requirements-list li:nth-child(1) {
    font-weight: bold;
}


.password-requirements .requirements-list .required-bullet {
    content: '';
    width: 7px;
    height: 7px;
    position: absolute;
    top: 8px;
    left: 0;
    border-radius: 200px;
    background-color: #656565;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.password-requirements .requirements-list li i {
    font-size: 0.7em;
    padding-right: 10px;
}







